# Indentation rules are inherited from ~/.editorconfig (managed as dot_editorconfig).
[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true

[*.{json,jsonc,json5,toml}.tmpl]
indent_style = space
indent_size = 2
